<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.example.starvault.mapper.DirectoryMapper">
    <resultMap id="directoryMap" type="org.example.starvault.entities.Directory">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="parentId" column="parent_id"/>
        <result property="userId" column="user_id"/>
    </resultMap>

    <resultMap id="directoryParamMap" type="org.example.starvault.params.DirectoryParam">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="parentId" column="parent_id"/>
        <result property="userId" column="user_id"/>
    </resultMap>
    <insert id="createDirectory"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO directory
        (name, parent_id, user_id)
        VALUES (#{name}, #{parentId}, #{userId})
    </insert>
    <insert id="initializeUserDirectory">
        INSERT INTO directory (name, parent_id, user_id)
        VALUES (#{name}, #{parentId}, #{userId})
    </insert>
    <update id="renameDirectory">
        UPDATE directory
        SET name = #{name}
        WHERE id = #{id}
    </update>
    <delete id="deleteDirectory">
        DELETE FROM directory
        WHERE id = #{id}
    </delete>
    <select id="ifContainsDirectory" resultType="java.lang.Boolean">
        SELECT COUNT(*) > 0
        FROM directory
        WHERE id = #{id}
    </select>

    <select id="getDirectoriesByUserId" resultType="org.example.starvault.params.DirectoryAndFileParam">
        SELECT id, name, parent_id, user_id
        FROM directory
        WHERE user_id = #{userId}
        AND parent_id = #{parentId}
    </select>
    <select id="getRootDirectory" resultType="org.example.starvault.entities.Directory">
        SELECT id, name, parent_id, user_id
        FROM directory
        WHERE user_id = #{userId}
        AND parent_id = -1
    </select>
    <select id="getDirectoriesByDirectoryId" resultType="java.lang.Long">
        SELECT id
        FROM directory
        WHERE parent_id = #{id}
    </select>
    <select id="getDirectoriesByParentId" resultMap="directoryParamMap">
        SELECT id, name, parent_id, user_id
        FROM directory
        WHERE parent_id = #{id}
    </select>
</mapper>