<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.example.starvault.mapper.VersionMapper" >
    <resultMap id="versionMap" type="org.example.starvault.entities.Version">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="userId" column="user_id"/>
        <result property="date" column="date"/>
        <result property="bucket" column="bucket"/>
    </resultMap>
    <insert id="addVersion">
        INSERT INTO version (name, user_id, date, bucket)
        VALUES (#{name}, #{userId}, #{date}, #{bucket})
    </insert>
    <delete id="deleteVersion">
        DELETE FROM version
        WHERE name = #{name} AND user_id = #{userId}
    </delete>
    <select id="ifContainsVersion" resultType="java.lang.Boolean">
        SELECT COUNT(*)
        FROM version
        WHERE name = #{name} AND user_id = #{userId}
    </select>

</mapper>